main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#enter-name, #play {
    margin: auto;
}

body {
    background-image: url("bullcow-background-fadeout.jpg");
}

.popover {
    white-space: pre-line;
}

.card {
    min-width: min-content;
    max-width: max-content;
    flex-grow: 1;
    margin: 50px;
}
